<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="personnalisation_chequiers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="personnalisation_chequiers.Properties.Settings.Mc" connectionString="Data Source=TOSHIBA\\SQLEXPRESS;Initial Catalog=GC_last;Integrated Security=True"/>
        <add name="personnalisation_chequiers.Properties.Settings.Personnalisation_des_ChéquiersConnectionString" connectionString="Data Source=TOSHIBA\SQLEXPRESS;Initial Catalog=&quot;Personnalisation des Chéquiers&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <personnalisation_chequiers.Properties.Settings>
            <setting name="MF" serializeAs="String">
                <value>System.data.sqlClient</value>
            </setting>
        </personnalisation_chequiers.Properties.Settings>
    </applicationSettings>
</configuration>
